* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	padding: 0;
	border: none;
	background-color: transparent;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	color: inherit;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

html {
	box-sizing: border-box;
}


select {
	background: none;
	border: none;
	outline: none;
	box-shadow: none;

	font: inherit;
	color: inherit;
}


/*-------------RESET--------------*/
body {
	font-family: "DMSans", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: -0.03em;
}

.container {
	padding: 0 20px;
	max-width: 1110px;
	margin: 0 auto;
}

.main-btn {
	border-radius: 0 18px 0 0;
	max-width: 211px;
	height: 50px;
	background-color: #ffac12;
	padding: 14px 40px;
	display: flex;
}

.main-btn__box {
	display: flex;
	align-items: center;
	gap: 9px;
	font-weight: 700;
	font-size: 17px;
	letter-spacing: -0.03em;
}

.title {
	font-weight: 700;
	font-size: 50px;
	letter-spacing: -0.03em
}

.text {
	font-size: 20px;
	line-height: 140%;
	letter-spacing: -0.03em;
	opacity: 0.6;
}

/*----------------header----------------*/

.header {
	margin-top: 32px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.0);
	z-index: 1;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.menu {
	display: flex;
	gap: 60px;
	align-items: center;
}

.menu__list {
	display: flex;
	gap: 60px;
}

.menu-item {
	color: #fff;
	font-weight: 700;
	font-size: 15px;
}

.header__btn-arrow {
	width: 20px;
	height: 10px;
}

/*----------------about-------------*/


.container-big {
	max-width: 2560px;
	margin: 0 auto;
}

.about__container {
	flex: 1;
	display: flex;
	padding: 0 20px;
	max-width: 1110px;
	margin: 0 auto;
}

.about {
	min-height: 100vh;
	display: flex;
	margin-bottom: 150px;
	background-image: url('../img/about-gb.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.about__top-box {
	max-width: 520px;
	display: flex;
	flex-direction: column;
	gap: 22px;
	position: relative;
	top: 200px;
	color: #fff;
}

.about__top-title {
	font-weight: 700;
	font-size: 80px;
	line-height: 1;
}

.about__top-text {
	opacity: 0.6;
	max-width: 428px;
}

.about__inner {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about__bottom-box {
	padding: 37px 40px;
	background-color: #fff;
	display: flex;
	gap: 15px;
}

.about__bottom-text {
	font-weight: 700;
}

/*----------------help-------------*/

.container-middle {
	max-width: 1280px;

}

.help-inner {
	display: flex;
}

.help-btn {
	padding: 35px 40px;
	background-color: #000;
	color: #fff;
}

.border {
	border-radius: 2px;
	width: 169px;
	height: 4px;
	background: linear-gradient(90deg, #ffac12 0%, #000 100%);
}

.help-img__wrapper {
	margin-left: -15%;
}

.help-box {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 90px;
	max-width: 478px;
}

.help-title {
	max-width: 475px;
	font-size: 49px;
}

.help-text {
	margin-bottom: 10px;
}

/*------------------------help-bottom----------------------*/
.help-bottom {
	padding-bottom: 150px;
}

.help-img__wrapper-bottom {
	margin-right: -15%;
	margin-top: -17%;
}

.help-title__bottom {
	font-size: 49px;
}

.help-btn__box-bottom {
	border-radius: 0 18px 0 0;
}

.help-box__bottom {
	margin-top: 106px;
}

/*----------------find-home-------------*/
.find-home {
	margin-top: -180px;
	background: #f5f5f5;
	padding-bottom: 400px;
}


.find-home__inner {
	padding-top: 215px;
	display: flex;
	flex-direction: column;
	gap: 76px;
}

.find-home__border {
	margin-bottom: 17px;
}

select {
	appearance: none;
}

.select::after {
	content: '';
	position: absolute;
	right: 0;
	top: 0px;
	height: 126px;
	width: 1px;
	background-color: #e4e4e4;
}

.select-text {
	background-repeat: no-repeat;
	background-position: right 15px center;
	background-size: 10px;
	background-image: url(../img/arrow-down.svg);
	padding-right: 35px;
	font-weight: 700;
	font-size: 17px;
	letter-spacing: -0.03em;
	font-family: "DMSans", sans-serif;
}


.select {
	max-width: 266px;
	position: relative;
	padding: 49px 130px 49px 40px;
}

.select-inner div:first-child,
.select-inner div:last-child {
	padding: 49px 130px 49px 30px;
}

.select-inner div:last-child::after {
	content: none;
}


.select-inner {
	border-radius: 25px;
	background-color: #fff;
	display: flex;
	box-shadow: 0 32px 34px 0 rgba(0, 0, 0, 0.13);
	margin-top: 60px;
}

.find-home__bottom-box {

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(336px, max-content));
	gap: 30px;
	justify-content: center;
}

.find-home__bottom-item {
	max-width: 336px;
	border-radius: 25px;
	box-shadow: 0 32px 34px 0 rgba(0, 0, 0, 0.13);

}

.bottom-item__value {
	display: flex;
	max-height: 60px;
	position: relative;
}

.bottom-item__value::before {
	content: '';
	position: absolute;
	right: 0;
	top: 0px;
	height: 1px;
	width: 336px;
	background-color: #e4e4e4;
}

.bottom-item__link {
	display: flex;
	padding: 20px 40px;
	gap: 10px;
	align-items: center;
	max-width: 112px;
	position: relative;
}

.bottom-item__link::after {
	content: '';
	position: absolute;
	right: 0;
	top: 0px;
	height: 60px;
	width: 1px;
	background-color: #e4e4e4;
}

.bottom-item__link img {
	width: 16px;
	height: 16px;
	align-items: center;
}

.bottom-item__box {
	gap: 30px;
	display: flex;
	flex-direction: column;
}

.bottom-item__title {
	text-align: left;
	margin-left: 30px;
	font-weight: 700;
	font-size: 24px;
}

/*---------------------good-hands----------------*/
.good-hands {
	background-color: #000;
	padding: 150px;
}

.good-hands__inner {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 475px;
	gap: 17px;
	align-items: center;
}

.good-hands__line {
	border-radius: 2px;
	width: 169px;
	height: 4px;
	background: linear-gradient(90deg, #ffac12 0%, rgba(0, 0, 0, 0) 100%);
}

.good-hands__title {
	color: #fff;
	font-size: 49px;
	margin-bottom: 3px;
}



.good-hands__text {
	color: #fff;
	margin-bottom: 13px;
}

.good-hands__btn {
	height: 70px;
	padding: 25px -40px;
}

/*-----------------------------auther---------------------------*/
.authers {
	margin: 150px 0 150px 0;

}

.authers__inner {
	display: flex;
	flex-direction: column;
	margin: 0 auto;

}

.authers__line {
	border-radius: 2px;
	width: 336px;
	height: 4px;
	background: linear-gradient(90deg, #ffac12 0%, #000 100%);
	margin-bottom: 40px;
}

.authers__card-box {
	display: flex;
	justify-content: space-between;
}

.authers__card:nth-child(2) {
	background-color: #000;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
}

.authers__card:nth-child(2) p {
	color: #979797;
	font-size: 15px;
	font-weight: 400;
}

.authers__text {
	font-size: 24px;
	font-weight: 700;
	opacity: 1;
	max-width: 336px;
	margin: 0 auto;
	margin-bottom: 60px;
}

.authers__card {
	width: 100%;
	max-width: 336px;
	max-height: 140px;
}

.authers__item {
	padding: 46px 40px;
	display: flex;
	gap: 20px;
}

.authers-item__info-title {
	font-size: 15px;
}

.authers-item__info-text {
	font-size: 15px;
	font-weight: 400;
	color: #979797;
}

/*---------------------footer------------------*/

.footer {
	background-color: #000;
	padding-bottom: 150px;
}

.footer__top span {
	background: linear-gradient(139deg, #ffac12 0%, #c87224 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.footer__top {
	display: flex;
	justify-content: space-between;
	padding: 88px 0 57px 0;
	align-items: center;
	border-bottom: 1px #979797 solid;
}

.footer__top-title {
	font-size: 42px;
	color: #fff;
}

.footer__top-btn {
	height: 70px;
}

.footer__bottom {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.footer__bottom-info {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.footer__bottom-social {
	display: flex;
	gap: 40px;
}

.footer__bottom-box {
	display: flex;
	gap: 100px;
}

.footer__bottom-column {
	font-size: 15px;
	font-weight: 700;
}

.footer__bottom-title {
	color: #fff;
	margin-bottom: 10px;
}

.footer__bottom-item {
	color: #979797;
	margin-bottom: 10px;
}

/*-----------------property__header-----------------*/
.property__header {
	background-color: #000;
	padding: 32px 0 32px;
	border-bottom: 1px #3a3432 solid;
}

.property__find-home {
	margin-top: 0;
	padding-bottom: 150px;
}

/*-----------------about-house-----------------*/
.about-house {
	background-color: #f5f5f5;
}

.about-house__top {
	margin: 0 auto;
	max-width: 1110px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 21px 20px;
}

.about-house__title {
	font-weight: 700;
	font-size: 32px;
}

.about-house__text {
	opacity: 0.6;
}

.about-house__main-price {
	font-weight: 700;
	font-size: 32px;
}

.about-house__month-price {
	opacity: 0.6;
}

.container-bg {
	background-color: #000;
}

.about-house__header {
	margin-top: 60px;
	display: flex;
	gap: 23px;
	margin-bottom: 40px;
}

/*-----------------about-house__gallery-----------------*/

.gallery__main img {
	width: 705px;
	height: 520px;
	display: block;
}

.gallery__thumbs {
	display: flex;
	gap: 24px;
	margin-top: 20px;
}

.gallery__thumbs img {
	width: 80px;
	cursor: pointer;
	border-radius: 6px;
	transition: opacity .3s, border .3s;
}

.gallery__thumbs img.active {
	opacity: 1;
	border: 2px solid #ffac12;
}

/*-----------------about-house__seller-----------------*/

.about-house__seller-box {
	background-color: #fff;
	padding: 20px;
	max-height: 520px;
	max-width: 336px;
	width: 100%;
	box-shadow: 0 32px 34px 0 rgba(0, 0, 0, 0.13);
	border-radius: 25px;
}

.about-house__seller-info {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border-radius: 10px;
	padding: 15px 17px;
	gap: 10px;
}

.seller__img {
	width: 40px;
}

.seller__text-box {
	display: flex;
	flex-direction: column;
}

.seller__name {
	font-size: 15px;
}

.seller__profile {
	font-weight: 700;
	font-size: 13px;
	color: #ffac12;
}

.seller__input {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #000;
}

.form-input {
	padding: 20px 20px;
	border: 1px solid #ebebeb;
	border-radius: 10px;
	font-size: 15px;
}

.seller__input-textarea {
	padding: 20px 0px 60px 20px;
	border: 1px solid #ebebeb;
	border-radius: 10px;
	font-size: 15px;
}

input::placeholder,
textarea::placeholder {
	color: #000;
}

.seller__btn {
	display: flex;
	align-items: center;
	background-color: #000;
	color: #fff;
	padding: 24px 84px;
	border-radius: 0 18px 0 0;
	gap: 20px;
}

/*--------------------------about-house__info----------*/
.about-house__info {
	display: flex;
	flex-direction: column;
	max-width: 704px;
	width: 100%;
	gap: 40px;
}

.about-house__info-box {
	display: flex;
	flex-direction: column;
	box-shadow: 0 32px 34px 0 rgba(0, 0, 0, 0.13);
	background: #fff;
	border-radius: 25px;
}

.house__title {
	font-weight: 700;
	padding: 30px;
}


.details-item__value {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.details-item__link {
	display: flex;
	padding: 19px 52px;
	gap: 10px;
	align-items: center;
	position: relative;
}

.details-item__link p {
	font-weight: 700;
	font-size: 17px;
	letter-spacing: -0.03em;

}

.details-item__value::before {
	content: '';
	position: absolute;
	right: 0;
	top: 0px;
	height: 1px;
	width: 704px;
	background-color: #e4e4e4;
}


.details-item__link::after {
	content: '';
	position: absolute;
	right: 0;
	top: 0px;
	height: 60px;
	width: 1px;
	background-color: #e4e4e4;
}


.details-item__link:last-child:after {
	content: none;
	padding-left: 35px;
}

.details-item__link:last-child {
	padding-left: 35px;
}


.description__text {
	position: relative;
	padding: 35px 30px 30px;
}

.description__text p {
	font-size: 15px;
	line-height: 1.47;
	opacity: 0.6;
}

.description__text ::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 1px;
	width: 100%;
	background-color: #e4e4e4;
}

.features__title {
	position: relative;
}

.features__title::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	height: 1px;
	width: 100%;
	background-color: #e4e4e4;
}

.features-list {
	padding: 30px;
	display: flex;
	justify-content: space-between;
}

.features-column {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.features-item {
	display: flex;
	gap: 10px;
}

.features-item p {
	font-size: 15px;
	line-height: 1.47;
	opacity: 0.6;
}

/*------------------------swiper----------------------*/

.swiper-wrapper {
	display: flex;
}

.swiper-slide {
	width: 336px;
	box-shadow: 0 32px 34px 0 rgba(0, 0, 0, 0.13);
	background: #fff;
}

.slider-wrapper {
	overflow: hidden;

}

.swiper {
	padding-left: 20px;
	direction: rtl;
}


/*----------------burger menu-------------*/

.menu__btn {
	display: none;
	width: 50px;
	height: 30px;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	border: none;
	background-color: transparent;
	padding: 0;
	position: relative;
	z-index: 1;
}

.menu__btn span {
	width: 100%;
	height: 4px;
	background-color: #fff;
	transition: background-color .3s;
}

.menu.menu--open .menu__list {
	top: -0%;
}

.menu.menu--open .menu__btn span {
	background-color: #fff;
}


/*----------------@media(max-width:---px)----------------*/

@media(max-width:1315px) {}

@media(max-width:1130px) {
	.help__img-bottom {
		max-width: 600px;
		max-height: 600px;
	}

	.help-img__wrapper-bottom {
		margin-right: -15%;
		margin-top: 0%;
	}

	.find-home {
		padding-bottom: 200px;
	}

	.help-bottom {
		padding-bottom: 50px;
	}

	.about-house__header {
		flex-direction: column;
		align-items: center;
	}

	.seller__btn {
		justify-content: center;
	}

	.about-house__seller-box {
		max-width: 705px;
	}

	.about-house__info {
		margin: 0 auto;
	}
}

@media(max-width:1080px) {
	.help-img {
		max-width: 600px;
	}


}

@media(max-width:992px) {
	.help-img__wrapper {
		display: none;
	}

	.help-inner {
		justify-content: center;
		text-align: center;
	}

	.find-home {
		margin-top: 150px;
	}

	.help-border {
		max-width: 478px;
		width: 100%;
	}

	.help-box {
		margin-top: 50px;
		align-items: center;
	}

	.select {
		padding: 50px;
	}

	.select-inner div:first-child,
	.select-inner div:last-child {
		padding: 49px 100px 49px 30px;
	}

	.select-inner div:first-child {
		padding: 50px;
	}

	.property__find-home {
		margin-top: 0;
	}

	.gallery__main img {
		width: 100%;
		height: 100%;
	}

	.gallery__thumbs {
		flex-wrap: wrap;
	}

	/* .gallery__thumbs img {
		max-height: 520px;
		max-width: 705px;
	} */
}

@media(max-width:900px) {
	.menu__btn {
		display: flex;
		z-index: 3;
	}

	.header__logo {
		order: 1;
	}

	.header__btn {
		order: 1;
	}

	.menu__list {
		position: fixed;
		top: -120%;
		left: 0;
		right: 0;
		width: 100%;
		height: 100vh;
		background-color: #979797;
		color: #000;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		text-transform: uppercase;
		font-size: 24px;
		transition: top 0.4s ease;
		z-index: 2;
	}

	.select {
		text-align: center;
		width: 100%;
		border-bottom: 1px #e4e4e4 solid;
		padding: 50px 0 50px 0;
		max-width: none;
	}

	.select::after {
		display: none;
	}

	.select-inner {
		flex-direction: column;
		text-align: center;
	}

	.select-inner div:last-child {
		padding: 50px;
	}

	.help-img__wrapper-bottom {
		display: none;
	}
}


@media(max-width:800px) {
	.good-hands {
		padding: 100px 0px;
	}

	.good-hands__inner {
		align-items: flex-start;
	}

	.authers__card {
		border-radius: 16px;
		border: 1px #e4e4e4 solid;
	}

	.authers__card-box {
		flex-direction: column;
		gap: 30px;
		margin: 0 auto;
	}

	.authers__item {
		padding: 46px 80px
	}

	.authers__text {
		margin-bottom: 20px;
	}

	.footer__bottom {
		align-items: center;
		flex-direction: column;
		gap: 50px;
	}

	.footer__bottom-info {
		order: 1;
		flex-direction: row;
		align-items: center;
	}

	.footer__top {
		gap: 30px;
		flex-direction: column;
	}

	.details-item__value {
		align-items: center;
		flex-direction: column;
	}

	.details-item__link::after {
		left: 0;
		right: 0;
		top: 0px;
		height: 1px;
		width: 100%;
		max-width: 800px
	}

	.details-item__link {
		justify-content: center;
		width: 100%;
	}



	.details-item__link:last-child::after {
		content: '';
		left: 0;
		right: 0;
		top: 0px;
		width: 100%;
		height: 1px;
		background-color: #e4e4e4;
	}

	.details-item__link:last-child {
		padding-right: 35px;
	}
}

@media(max-width:768px) {
	.about__top-title {
		font-size: 50px;
	}

	.about__top-box {
		text-align: center;
		max-width: 100%;
	}

	.about__top-text {
		text-align: center;
		max-width: 100%;
	}

	.about {
		height: 750px;
	}

}

@media(max-width:650px) {

	.find-home__inner {
		padding-top: 150px;
	}
}

@media(max-width:600px) {
	.footer__bottom-box {
		gap: 50px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer__top-title {
		text-align: center;
	}
}

@media(max-width:560px) {

	.help-title {
		font-size: 40px;
	}

	.find-home__title {
		font-size: 40px;
	}

	.features-list {
		flex-wrap: wrap;
		gap: 30px;
		justify-content: center;
	}

	.features-column {
		gap: 10px;
	}
}

@media(max-width:500px) {
	.header__btn {
		display: none;
	}

	.about {
		height: 700px;
	}


}

@media(max-width:450px) {}

@media(max-width:420px) {
	.about__top-title {
		font-size: 45px;
	}
}

@media(max-width:375px) {}