* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	padding: 0;
	border: none;
	background-color: transparent;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	color: inherit;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

html {
	box-sizing: border-box;
}




/*-------------RESET--------------*/
body {
	font-family: "DMSans", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: -0.03em;
}

.container {
	padding: 0 20px;
	max-width: 1110px;
	margin: 0 auto;
}

.main-btn {
	border-radius: 0 18px 0 0;
	max-width: 211px;
	height: 50px;
	background-color: #ffac12;
	padding: 14px 40px;
	display: flex;
}

.main-btn__box {
	display: flex;
	align-items: center;
	gap: 9px;
	font-weight: 700;
	font-size: 17px;
	letter-spacing: -0.03em;
}

.title {
	font-weight: 700;
	font-size: 50px;
	letter-spacing: -0.03em
}

.text {
	font-size: 20px;
	line-height: 140%;
	letter-spacing: -0.03em;
	opacity: 0.6;
}

/*----------------header----------------*/

.header {
	margin-top: 32px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.0);
	z-index: 1;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.menu {
	display: flex;
	gap: 60px;
	align-items: center;
}

.menu__list {
	display: flex;
	gap: 60px;
}

.menu-item {
	color: #fff;
	font-weight: 700;
	font-size: 15px;
}

.header__btn-arrow {
	width: 20px;
	height: 10px;
}

/*----------------about-------------*/


.container-big {
	max-width: 2560px;
	margin: 0 auto;
}

.about__top {}

.about {
	margin-bottom: 150px;
	width: 100%;
	height: 850px;
	background-image: url('../img/about-gb.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.about__top-box {
	max-width: 520px;
	display: flex;
	flex-direction: column;
	gap: 22px;
	position: relative;
	top: 200px;
	color: #fff;
}

.about__top-title {
	font-weight: 700;
	font-size: 80px;
	line-height: 1;
}

.about__top-text {
	opacity: 0.6;
	max-width: 428px;
}

.about__inner {
	display: flex;
	flex-direction: column;
	gap: 380px;
}

.about__bottom-box {
	padding: 37px 40px;
	background-color: #fff;
	display: flex;
	gap: 15px;
}

.about__bottom-text {
	font-weight: 700;
}

/*----------------help-------------*/

.container-middle {
	max-width: 1280px;

}

.help-inner {
	display: flex;
}

.help-btn {
	padding: 35px 40px;
	background-color: #000;
	color: #fff;
}

.border {
	border-radius: 2px;
	width: 169px;
	height: 4px;
	background: linear-gradient(90deg, #ffac12 0%, #000 100%);
}

.help-img__wrapper {
	margin-left: -15%;
}

.help-box {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 90px;
	max-width: 478px;
}

.help-title {
	max-width: 475px;
	font-size: 49px;
}

.help-text {
	margin-bottom: 10px;
}

/*------------------------help-bottom----------------------*/
.help-bottom {
	padding-bottom: 150px;
}

.help-img__wrapper-bottom {
	margin-right: -15%;
	margin-top: -17%;
}

.help-title__bottom {
	font-size: 49px;
}

.help-btn__box-bottom {
	border-radius: 0 18px 0 0;
}

.help-box__bottom {
	margin-top: 106px;
}

/*----------------find-home-------------*/
.find-home {
	margin-top: -180px;
	background: #f5f5f5;
	padding-bottom: 400px;
}


.find-home__inner {
	padding-top: 215px;
	display: flex;
	flex-direction: column;
	gap: 76px;
}

.find-home__border {
	margin-bottom: 17px;
}

select {
	appearance: none;
}

.select::after {
	content: '';
	position: absolute;
	right: 0;
	top: 0px;
	height: 120px;
	width: 1px;
	background-color: #e4e4e4;
}

.select-text {
	background-repeat: no-repeat;
	background-position: right 15px center;
	background-size: 10px;
	background-image: url(../img/arrow-down.svg);
	padding-right: 35px;
	font-weight: 700;
	font-size: 17px;
	letter-spacing: -0.03em;
	font-family: "DMSans", sans-serif;
}


.select {
	max-width: 266px;
	position: relative;
	padding: 49px 130px 49px 40px;
}

.select-inner div:first-child,
.select-inner div:last-child {
	padding: 49px 130px 49px 30px;
}

.select-inner div:last-child::after {
	content: none;
}


.select-inner {
	border-radius: 25px;
	background-color: #fff;
	display: flex;
	box-shadow: 0 32px 34px 0 rgba(0, 0, 0, 0.13);
	margin-top: 60px;
}

.find-home__bottom-box {

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(336px, max-content));
	gap: 30px;
	justify-content: center;
}

.find-home__bottom-item {
	max-width: 336px;
	border-radius: 25px;
	box-shadow: 0 32px 34px 0 rgba(0, 0, 0, 0.13);

}

.bottom-item__value {
	display: flex;
	max-height: 60px;
	position: relative;
}

.bottom-item__value::before {
	content: '';
	position: absolute;
	right: 0;
	top: 0px;
	height: 1px;
	width: 336px;
	background-color: #e4e4e4;
}

.bottom-item__link {
	display: flex;
	padding: 20px 40px;
	gap: 10px;
	align-items: center;
	max-width: 112px;
	position: relative;
}

.bottom-item__link::after {
	content: '';
	position: absolute;
	right: 0;
	top: 0px;
	height: 60px;
	width: 1px;
	background-color: #e4e4e4;
}

.bottom-item__link img {
	width: 16px;
	height: 16px;
	align-items: center;
}

.bottom-item__box {
	gap: 30px;
	display: flex;
	flex-direction: column;
}

.bottom-item__title {
	margin-left: 30px;
	font-weight: 700;
	font-size: 24px;
}

/*---------------------good-hands----------------*/
.good-hands {
	background-color: #000;
	padding: 150px;
}

.good-hands__inner {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 475px;
	gap: 17px;
	align-items: center;
}

.good-hands__line {
	border-radius: 2px;
	width: 169px;
	height: 4px;
	background: linear-gradient(90deg, #ffac12 0%, rgba(0, 0, 0, 0) 100%);
}

.good-hands__title {
	color: #fff;
	font-size: 49px;
	margin-bottom: 3px;
}



.good-hands__text {
	color: #fff;
	margin-bottom: 13px;
}

.good-hands__btn {
	height: 70px;
	padding: 25px -40px;
}

/*-----------------------------auther---------------------------*/
.authers {
	margin: 150px 0 150px 0;

}

.authers__inner {
	display: flex;
	flex-direction: column;
	margin: 0 auto;

}

.authers__line {
	border-radius: 2px;
	width: 336px;
	height: 4px;
	background: linear-gradient(90deg, #ffac12 0%, #000 100%);
	margin-bottom: 40px;
}

.authers__card-box {
	display: flex;
	justify-content: space-between;
}

.authers__card:nth-child(2) {
	background-color: #000;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
}

.authers__card:nth-child(2) p {
	color: #979797;
	font-size: 15px;
	font-weight: 400;
}

.authers__text {
	font-size: 24px;
	font-weight: 700;
	opacity: 1;
	max-width: 336px;
	margin: 0 auto;
	margin-bottom: 60px;
}

.authers__card {
	width: 100%;
	max-width: 336px;
	max-height: 140px;
}

.authers__item {
	padding: 46px 40px;
	display: flex;
	gap: 20px;
}

.authers-item__info-title {
	font-size: 15px;
}

.authers-item__info-text {
	font-size: 15px;
	font-weight: 400;
	color: #979797;
}

/*---------------------footer------------------*/

.footer {
	background-color: #000;
	padding-bottom: 150px;
}

.footer__top span {
	background: linear-gradient(139deg, #ffac12 0%, #c87224 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.footer__top {
	display: flex;
	justify-content: space-between;
	padding: 88px 0 57px 0;
	align-items: center;
	border-bottom: 1px #979797 solid;
}

.footer__top-title {
	font-size: 42px;
	color: #fff;
}

.footer__top-btn {
	height: 70px;
}

.footer__bottom {
	margin-top: 60px;
	display: flex;
	gap: 270px;
}

.footer__bottom-info {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.footer__bottom-social {
	display: flex;
	gap: 40px;
}

.footer__bottom-box {
	display: flex;
	gap: 160px;
}

.footer__bottom-column {
	font-size: 15px;
	font-weight: 700;
}

.footer__bottom-title {
	color: #fff;
	margin-bottom: 10px;
}

.footer__bottom-item {
	color: #979797;
	margin-bottom: 10px;
}

/*----------------burger menu-------------*/

.menu__btn {
	display: none;
	width: 50px;
	height: 30px;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	border: none;
	background-color: transparent;
	padding: 0;
	position: relative;
	z-index: 1;
}

.menu__btn span {
	width: 100%;
	height: 4px;
	background-color: #fff;
	transition: background-color .3s;
}

.menu.menu--open .menu__list {
	top: -0%;
}

.menu.menu--open .menu__btn span {
	background-color: #fff;
}

/*----------------PAGE1-----------------------------------*/

/*----------------top----------------*/


/*----------------@media(max-width:---px)----------------*/

@media(max-width:1315px) {}

@media(max-width:1280px) {}

@media(max-width:1080px) {
	.help-img {
		max-width: 600px;
	}


}

@media(max-width:992px) {
	.help-img__wrapper {
		display: none;
	}

	.help-inner {
		justify-content: center;
		text-align: center;
	}

	.find-home {
		margin-top: 150px;
	}

	.help-border {
		max-width: 478px;
		width: 100%;
	}



	.help-box {
		margin-top: 50px;
		align-items: center;
	}
}

@media(max-width:900px) {
	.menu__btn {
		display: flex;
		z-index: 3;
	}

	.header__logo {
		order: 1;
	}

	.header__btn {
		order: 1;
	}

	.menu__list {
		position: fixed;
		top: -150%;
		left: 0;
		right: 0;
		width: 100%;
		height: 900px;
		background-color: #979797;
		color: #000;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		text-transform: uppercase;
		font-size: 24px;
		transition: top 0.5s ease;
		z-index: 2;
	}
}

@media(max-width:800px) {}

@media(max-width:768px) {
	.about__top-title {
		font-size: 50px;
	}

	.about__inner {
		gap: 450px;
	}

	.about__top-box {
		text-align: center;
		max-width: 100%;
	}

	.about__top-text {
		text-align: center;
		max-width: 100%;
	}

	.about {
		height: 750px;
	}
}

@media(max-width:650px) {

	.find-home__inner {
		padding-top: 150px;
	}
}

@media(max-width:560px) {
	.about__inner {
		gap: 420px;
	}

	.help-title {
		font-size: 40px;
	}
}

@media(max-width:500px) {
	.header__btn {
		display: none;
	}

	.about {
		height: 700px;
	}

	.about__inner {
		gap: 370px;
	}
}

@media(max-width:450px) {}

@media(max-width:420px) {
	.about__top-title {
		font-size: 45px;
	}
}

@media(max-width:375px) {
	.about__inner {
		gap: 280px;
	}
}